@page
@model Examen.Pages.ListaDeseos.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ListaDeseo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ListaDeseo.ProductoDeseado" class="control-label"></label>
                <input asp-for="ListaDeseo.ProductoDeseado" class="form-control" />
                <span asp-validation-for="ListaDeseo.ProductoDeseado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListaDeseo.FechaRecepcion" class="control-label"></label>
                <input asp-for="ListaDeseo.FechaRecepcion" class="form-control" />
                <span asp-validation-for="ListaDeseo.FechaRecepcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListaDeseo.Unidades" class="control-label"></label>
                <input asp-for="ListaDeseo.Unidades" class="form-control" />
                <span asp-validation-for="ListaDeseo.Unidades" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListaDeseo.PrecioUnitario" class="control-label"></label>
                <input asp-for="ListaDeseo.PrecioUnitario" class="form-control" />
                <span asp-validation-for="ListaDeseo.PrecioUnitario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListaDeseo.Correo" class="control-label"></label>
                <input asp-for="ListaDeseo.Correo" class="form-control" />
                <span asp-validation-for="ListaDeseo.Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
